.App {
  width: 500px;
  text-align: center;
  section {
    margin: 10px 0;
    padding: 20px;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 8px;
    background: rgb(245, 245, 245);
    button {
      width: 60px;
      margin: 0 4px;
      padding: 4px 14px;
      border: 1px solid #ccc;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.3s;
      &hover {
        background: #000;
        color: #fff;
      }
    }
  }
}
